@import "../../styles/GeneralStyles.scss";

.account-info-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $quikenKLightGrey;
}
