@import "../../styles/GeneralStyles.scss";

.white-heading-tracking {
  color: $quikenWhite;
  font-family: $quikenFont;
  font-weight: 700;
  padding: 6px;
}

.main-wrapper-div-tracking {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 80px;
}

.row-tracking {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icono-rastreo {
  width: 85%;
  @include media("<large-phone") {
    width: 50%;
  }
}
