@import './_variables';

.label-form {
    font-family: $quikenFont;
    color: $quikenDarkBlue;
    font-size: 18px;
    display: block;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 15px;
}

.label-form span {
    color: $quikenRed;
}