//Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

$quikenFont: "Montserrat", sans-serif;
$quikenFontWeightMedium: 600;

//Font Sizes:

//Used for NavLinks and Button
$quikenMediumFontSize: 16px;

//Brand Colors
$manuableRed: #F14F3D;
$manuableWhite: white;
$manuableBlack: #231f20;
$quikenKLightGrey: #dbd2d2;
$manuableDarkGreyFooter: #17162C;
$manuableDarkGrey: #6a6b6e;
$manuableKLightGrey: #dde5ed;
$manuablePurple: #7b00ff;
$manuableLightPurple: #5E4AE3;
$manuablelightYellow: #EAEA49;
$manuableTextButton: #3C34D4;