
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

$quikenFont: 'Montserrat', sans-serif;
$quikenFontWeightMedium: 600;

//Font Sizes:

//Used for NavLinks and Button
$quikenMediumFontSize: 16px;

//Brand Colors
$quikenRed: #EE1F42;
$quikenDarkBlue: #245188;
$quikenLightBlue: #2B91AE;
$quikenWhite: white;
$quikenBlack: #231F20;
$quikenKLightGrey: #DDE5ED;
$quikenDarkGrey: #1f2430;


