@import '../styles/GeneralStyles.scss';

.quiken-contact-image {
    width: 100%;
    margin: 0px;
    margin-bottom: -10px;
    
}


.main-heading-contacto {
    color: $quikenRed;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-size: 30px;
    font-family: $quikenFont;
    font-weight: 800;
    @include media ('<large-phone') {
        box-sizing: border-box;
        padding: 20px;
    }

}
.row-div {
    width: 100%;
    background-color: red;
}

.image-contacto-contact-page {
    height: 500px;
    
    @include media ('<tablet') {
        height: 400px;
    }
    @include media ('<large-phone') {
        height: 350px;
    }
    
}

.row-div-contact-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    @include media ('<large-phone') {
        flex-direction: column-reverse;
    }
}