@import '../styles/GeneralStyles.scss';

.quiken-contact-image {
    width: 100%;
    margin: 0px;
    margin-bottom: -10px;
}


.main-heading-contacto {
    color: $quikenRed;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-size: 30px;
    font-family: $quikenFont;
    font-weight: 800;

}
.row-div {
    width: 100%;
    background-color: red;
}

.image-contacto-contact-page {
    height: 500px;
}

.row-div-contact-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}