@import "../styles/GeneralStyles.scss";

.main-wrapper-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-create-guide-form {
  width: 500px;
  padding: 15px;
  border-radius: 9px;
  border: 1px solid grey;
  background-color: $quikenKLightGrey;
}

.subheading-form-create-guide {
  color: $quikenRed;
  font-family: $quikenFont;
  margin-top: 20px;
  font-weight: 900;
  font-size: 28px;
  font-family: $quikenFont;
}

.wrapper-guide-cost {
  background-color: $quikenKLightGrey;
  border: 1px solid $quikenBlack;
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heading-guide-cost {
  font-family: &quikenFont;
  font-weight: 900;
  color: $quikenDarkBlue;
  font-size: 18px;
}

.price-guide-cost {
  font-family: &quikenFont;
  font-weight: 900;
  color: $quikenDarkBlue;
  font-size: 18px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.row-first-two-sections {
  display: flex;
  flex-direction: row;
}

.payment-section {
  display: flex;
  flex-direction: column;
}

.table-holder {
  display: flex;
  flex-direction: column;
}

.payment-method-subheading {
  color: $quikenDarkBlue;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: $quikenFont;
}

.payment-method-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-method-selector {
  background-color: $quikenKLightGrey;
  height: 30px;
  width: 150px;
}

.btn-create-guide-form {
  color: $quikenWhite;
  background-color: $quikenRed;
  height: 45px;
  width: 150px;
  font: $quikenFont;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  align-self: flex-end;
  @include media("<large-phone") {
    // padding: 0px;
    margin-top: 8px;
  }

  @include media("<phone") {
  }
}

.form-stripe {
  background-color: $quikenKLightGrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 20px;
  border: solid 1px $quikenDarkBlue;
}

.cardelement {
  background-color: $quikenWhite;
  margin-bottom: 10px;
  &:hover {
    border: 1px solid $quikenBlack;
  }
}

.ingresa-tarjeta-datos-subheading {
  font-family: $quikenFont;
  color: $quikenDarkBlue;
  margin-top: 15px;
  font-weight: 600;
}

.ingresa-tarjeta-descripcion {
  font-family: $quikenFont;
  color: $quikenBlack;
  font-weight: 600;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.label-create-guide-form {
  font-family: $quikenFont;
  color: $quikenDarkBlue;
  font-weight: 800;
  margin-top: 5px;
  font-size: 13px;
  margin-left: 5px;
  display: block;
}
