@import "../styles/GeneralStyles.scss";

.hero-image {
  background-color: $quikenDarkBlue;
  background-image: url("../assets/Fulfillment/imagenes/Fulfillment_Quiken.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
  @include media("<tablet") {
  }

  @include media("<large-phone") {
  }

  @include media("<phone") {
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  font-family: $quikenFont;
  font-weight: $quikenFontWeightMedium;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  @include media("<desktop") {
    top: 20%;
  }
  @include media("<tablet") {
    top: 20%;
  }

  @include media("<large-phone") {
  }

  @include media("<phone") {
  }
}

.main-heading {
  font-size: 55px;
  @include media("<phone") {
    font-size: 40px;
  }
}

.sub-heading {
  font-family: $quikenFont;
  font-weight: $quikenFontWeightMedium;
  font-size: 25px;
  margin-top: 10px;
  color: $quikenWhite;
}

.sub-heading2 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $quikenWhite;
  font-family: $quikenFont;
}

.info-placeholder {
  background-color: $quikenDarkBlue;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 50px 0px 50px;
  justify-content: space-between;
  @include media("<700px") {
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
}

.text-placeholder {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  align-items: center;
  justify-content: center;
  @include media("<700px") {
    width: 80%;
    text-align: center;
  }
}

.btn-mail-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.section-fulfillment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 380px;
  background: $quikenKLightGrey;
  padding: 25px 20px 10px 50px;
  margin-bottom: 50px;
  // background-color: hotpink;
  @include media("<1080px") {
    flex-direction: column;
    height: 100%;
  }
}

.text-wrapper-integra {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $quikenFont;
  width: 500px;
  padding: 50px;
  max-width: 100%;
  box-sizing: border-box;
}

.text-wrapper-fulfillment {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $quikenFont;
  padding: 50px;
  // background-color: pink;
}

.fulfilment-heading {
  color: $quikenRed;
  font-size: 32px;
  font-family: $quikenFont;
  font-weight: 900;
  @include media("<1080px") {
    font-size: 25px;
  }
}

.paragraph-1-fulfillment {
  font-family: $quikenFont;
  font-size: 18px;
  font-weight: 600;
  color: $quikenDarkBlue;
  margin-top: 25px;
  width: 350px;
  max-width: 100%;
}

.paragraph-2-fulfillment {
  font-family: $quikenFont;
  font-size: 18px;
  font-weight: 900;
  color: $quikenDarkBlue;
  margin-top: 25px;
  width: 310px;
  max-width: 100%;
}

.paragraph-3-fulfillment {
  font-family: $quikenFont;
  font-size: 16px;
  font-weight: 500;
  color: $quikenDarkBlue;
  margin-top: 25px;
  width: 350px;
  max-width: 100%;
}

.section-wms {
  padding: 25px 20px 10px 50px;
  display: flex;
  justify-content: space-evenly;
  @include media("<1080px") {
    flex-direction: column;
    height: 100%;
  }
}

.wms-heading {
  color: $quikenRed;
  font-size: 34px;
  font-family: $quikenFont;
  font-weight: 900;
  width: 350px;
  max-width: 100%;
  @include media("<large-phone") {
    font-size: 25px;
  }
  @include media("<phone") {
    font-size: 18px;
  }
}

.paragraph-1-warehouse {
  font-family: $quikenFont;
  font-size: 20px;
  font-weight: 600;
  color: $quikenDarkBlue;
  width: 350px;
  max-width: 100%;
}

.registrate-wms-btn {
  background: white;
  border: red solid 1.5px;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  font-size: 17.5px;
  color: $quikenRed;
  margin-top: 25px;
}

.integraciones-img {
  max-width: 500px;
  width: 80%;
}

image-palceholder-icons-wms {
  display: flex;
  align-items: center;
  @include media("<1080px") {
    width: 100%;
    justify-content: center;
  }
}

.div-main-wrapper-almacena {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 60px;
  padding-bottom: 50px;
  @include media("<1200px") {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  @include media("<phone") {
    padding-bottom: 0px;
  }
}

.div-wrapper-section {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<1080px") {
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
  @include media("<1080px") {
    width: 80%;
  }
}

.servicio-img {
  width: 280px;
  border-radius: 10px;
  @include media("<1080px") {
    flex-direction: column;
    width: 100%;
  }
}

.heading-service {
  font-family: $quikenFont;
  color: $quikenRed;
  font-weight: 900;
  font-size: 26px;
  padding: 0px 20px 0px 20px;
  margin-top: 20px;
  text-align: center;
}

.paragraph-service {
  font-family: $quikenFont;
  color: $quikenDarkBlue;
  font-weight: 500;
  font-size: 14px;
  margin-top: 18px;
  padding: 0px 20px 0px 20px;
  align-self: flex-start;
}

.img-grafica-pasos {
  width: 100px;
}

.wrapper-grafica-proceso {
  width: 100%;
}

.progressbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 900px;
  margin: auto;
  margin-bottom: 50px;
  @include media("<950px") {
    width: 700px;
  }
  @include media("<tablet") {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.dotted-line {
  border-top: dotted $quikenDarkBlue 3px;
  width: 800px;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: -1;
  @include media("<950px") {
    width: 600px;
  }
  @include media("<tablet") {
    display: none;
  }
  @include media("<large-phone") {
    display: none;
  }
}

.nuestro-proceso-section {
  font-size: 20px;
  color: $quikenRed;
  font-family: $quikenFont;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-proceso-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  @include media("<large-phone") {
  }
}

.heading-graph-pasos {
  font-size: 14px;
  color: $quikenDarkBlue;
  display: inline-block;
  @include media("<large-phone") {
    align-items: center;
    text-align: center;
  }
}

.paragraph-garafica-pasos {
  font-size: 14px;
  color: $quikenDarkBlue;
  display: inline;
  font-weight: 400;
  @include media("<phone") {
    padding-bottom: 0px;
  }
}

.nuestro-proceso-heading {
  font-family: $quikenFont;
  color: $quikenRed;
  font-size: 32px;
  padding: 50px 0px 60px 0px;
  font-weight: 800;
  @include media("<phone") {
    padding: 20px;
    text-align: center;
    font-size: 28px;
  }
}

.ubicaciones-wrapper-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  z-index: 0;
  margin-bottom: 50px;
  margin-top: 20px;
  @include media("<950px") {
  }
  @include media("<tablet") {
  }
  @include media("<large-phone") {
  }
}

.ubicaciones-section-1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 60px;
  @include media("<large-phone") {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
  }
}

.ubicaciones-section-2 {
  background-image: url("../assets/fulfilment/Imagenes/Fulfillment_Mapa.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 70%;
  // background-color: green;
  @include media("<large-phone") {
    flex-direction: column;
    width: 100%;
  }
}

.wrapper-80-row-div {
  display: flex;
  width: 80%;
  justify-self: center;
  @include media("<large-phone") {
    flex-direction: column;
    width: 100%;
  }
}

.heading-ubicaciones {
  color: $quikenRed;
  font-family: $quikenFont;
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 30px;
}

.lista-ubicaciones {
  font-family: $quikenFont;
  color: $quikenDarkBlue;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0px 3px 0px;
}

.paragraph-mas-info-ubicaciones {
  font-family: $quikenFont;
  color: $quikenDarkBlue;
  font-weight: 600;
  font-size: 16px;
  margin-top: 50px;
  padding: 3px 0px 3px 0px;
}

.mail-to-hola-quiken {
  color: $quikenRed;
  text-decoration: none;
  border-radius: 10px;
  border: solid 1px $quikenRed;
  display: inline;
  width: fit-content;
  margin-top: 15px;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: $quikenFont;
}

.imagen-abriendo-paquete {
  width: 600px;
  padding-bottom: 50px;
  @include media("<680px") {
    width: 500px;
  }
  @include media("<560px") {
    width: 350px;
  }
  @include media("<large-phone") {
    width: 300px;
  }
  @include media("<phone") {
    width: 200px;
  }
}
