@import "../styles/GeneralStyles.scss";

.request-body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.request-header {
  font-family: $quikenFont;
  color: $quikenRed;
  font-size: 35px;
  align-self: center;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 40px;
  @include media("<large-phone") {
    text-align: center;
  }
}

.estado-de-pedido {
  color: $quikenDarkBlue;
  font-size: 16px;
  font-family: $quikenFont;
  font-weight: 600;
}

.estado-de-pedido span {
  color: $quikenRed;
  font-weight: 400;
  font-weight: 14px;
}

.div-tracking {
  display: flex;
  height: 80px;
  width: 600px;
  background: $quikenKLightGrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  @include media("<tablet") {
    max-width: 100%;
    width: 100%;
  }
  @include media("<large-phone") {
    flex-direction: column;
  }
}

.tracking-number-input {
  height: 30px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  &::placeholder {
    padding-left: 10px;
  }
}

.rastreo-blue-letters {
  color: $quikenDarkBlue;
  font-family: $quikenFont;
  font-weight: 600;
  padding: 0px 20px 0px 20px;
}

.rastreo-input-div {
  display: flex;
  flex-direction: row;
}

.table-header-tracking {
  font-family: $quikenDarkBlue;
  font-weight: 800;
  color: $quikenDarkBlue;
  text-align: left;
  padding-left: 30px;
  font-family: $quikenFont;
}

.table-data-tracking {
  text-align: left;
  font-family: $quikenFont;
  font-size: 12px;
  color: $quikenBlack;
  font-weight: 500;
}
.table-data-tracking-status {
  text-align: left;
  font-family: $quikenFont;
  font-size: 12px;
  color: $quikenBlack;
  //font-weight: 500;
  font-weight: bold;
}

.tracking-table {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 600px;
  // max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  @include media("<tablet") {
    width: auto;
  }
  @include media("<large-phone") {
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.tbody-tracking-table tr:nth-child(odd) {
  background: $quikenKLightGrey;
}

.historial-pedido-heading {
  color: $quikenRed;
  font-family: $quikenFont;
  font-weight: 600;
  border-bottom: 2px $quikenDarkBlue solid;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.estado-de-envio-heading {
  color: $quikenRed;
  font-family: $quikenFont;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.estado-de-envio-heading-ingresa-guia {
  color: $quikenRed;
  font-family: $quikenFont;
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
  @include media("<large-phone") {
    box-sizing: border-box;
    padding: 20px;
  }
}

.div-wrapper-rastero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-table-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper-table-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
