
@import '../styles/GeneralStyles.scss';

.form-wrapper-div {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 500px;
    margin: auto;
    padding-bottom: 100px;
    
}

.btn-contact {
    color: $quikenWhite;
    background-color: $quikenRed;
    height: 45px;
    width: 250px;
    font: $quikenFont;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .resetpassword-screen__title {
      color: $quikenRed;
      font-family: $quikenFont;
      font-weight: 900;
      font-size: 30px;
      align-self: center
  }

