@import "../styles/GeneralStyles.scss";

.main-blue-wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: $quikenDarkBlue;
  align-items: center;
  justify-content: center;
  @include media("<large-phone") {
    height: 500px;
  }
}

.placeholder-que-necesitas {
  border-radius: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: $quikenLightBlue;
  margin-top: 20px;
  margin-bottom: -3px;
  max-width: 100%;
}

.main-que.necesitas-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.white-subheading {
  font-family: $quikenFont;
  color: $quikenWhite;
  font-size: 25px;
  font-weight: 900;
}

.servicios-wrapper-main {
  width: 85%;
  height: 220px;
  background-color: $quikenKLightGrey;
  align-self: center;
  margin-bottom: -140;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<tablet") {
    height: 100%;
    padding-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
  }
  @include media("<large-phone") {
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
  }
}

.heading-servicios-row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  @include media("<tablet") {
    flex-direction: column;
  }
  @include media("<large-phone") {
    flex-direction: column;
  }
}

.heading-icon-placeholder {
  flex: 1;
  border: solid 1px lightgray;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include media("<large-phone") {
    height: 80px;
  }
}

.heading-icon-placeholder-esq-izq {
  border-radius: 20px 0px 0px 0px;
  flex: 1;
  border: solid 1px lightgray;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &:hover {
    background-color: $quikenRed;
  }
  @include media("<large-phone") {
    height: 70px;
    border-radius: 20px 20px 0px 0px;
  }
}

.heading-icon-placeholder-esq-der {
  border-radius: 0px 20px 0px 0px;
  flex: 1;
  border: solid 1px lightgray;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include media("<large-phone") {
    height: 100px;
    border-radius: 0px 0px 0px 0px;
  }
}

.rastrea-tu-pedido-placeholder {
  // background-color: green;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  @include media("<tablet") {
    width: 100%;
  }
  @include media("<large-phone") {
    width: 100%;
  }
}

.row-div-btn {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  @include media("<tablet") {
    width: 100%;
    flex-direction: column;
    padding: 20px 0px 40px 0px;
  }
  @include media("<large-phone") {
    width: 100%;
    flex-direction: column;
    padding: 20px 0px 40px 0px;
  }
}

.blue-rastrea-heading {
  color: $quikenDarkBlue;
  font-family: $quikenFont;
  font-weight: 600;
  font-size: 20px;
  @include media("<tablet") {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  @include media("<large-phone") {
    margin-bottom: 5px;
  }
}

.icon-servicios {
  width: 40px;
}

.youtube-player {
  width: 100%;
}

.white-background-container {
  background: $quikenWhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-div {
  display: flex;
  height: 100%;
  border-radius: 0px 0px 20px 20px;
}

.row-div2 {
  display: flex;
  height: 100%;
  background-color: lightgrey;
  border-radius: 0px 0px 20px 20px;
  @include media("<tablet") {
    width: 100%;
    flex-direction: column;
    height: 150px;
    background: $quikenKLightGrey;
  }
  @include media("<large-phone") {
    width: 100%;
    flex-direction: column;
    height: 150px;
    background: $quikenKLightGrey;
  }
}
.btn-contactanos {
  font-family: $quikenFont;
  color: $quikenLightBlue;
  background-color: $quikenKLightGrey;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid $quikenRed;
  border-radius: 20px;
  @include media("<tablet") {
    font-size: 14px;
    padding: 7px 16px;
  }
  @include media("<large-phone") {
    font-size: 14px;
    padding: 7px 16px;
  }
}

.servicio-paqueteria-local {
  width: 80%;
  max-width: 1020px;
  height: 500px;
  background: $quikenLightBlue;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<large-phone") {
    flex-direction: column;
    height: 700px;
    width: 80%;
  }
}

.paqueteria-local-section1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background: none;
  @include media("<tablet") {
    width: 100%;
  }
  @include media("<large-phone") {
    width: 100%;
  }
}

.paqueteria-local-section2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-image: url("../assets/Servicios Quiken /SERVICIOS/Servicios Quiken imagenes/Paqueteria_Local_Quiken.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  @include media("<large-phone") {
    width: 100%;
  }
}

.btn-register-white {
  font-family: $quikenFont;
  color: $quikenRed;
  background-color: $quikenWhite;
  border: none;
  padding: 7px 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  justify-self: flex-end;
  @include media("<large-phone") {
    align-self: center;
    margin-bottom: 10px;
  }
}

.link-registrate-btn {
  padding: 0px 20px 20px 40px;
}

.heading-paqueteria-local {
  color: $quikenWhite;
  font-family: $quikenFont;
  font-size: 32px;
  font-weight: 800;
  padding: 50px 20px 30px 40px;
}

.paragraph-paqueteria-local {
  color: white;
  font-family: $quikenFont;
  font-weight: 500;
  padding: 20px 20px 20px 40px;
}

.link-registrate-btn {
  justify-self: self-end;
}

.imagen-paqueteria-local {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.servicio-envios-nacionales {
  width: 80%;
  max-width: 1020px;
  height: 720px;
  background: $quikenKLightGrey;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<large-phone") {
    flex-direction: column;
    width: 80%;
  }
}

.envios-nacionales-section1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background: none;
  @include media("<large-phone") {
    width: 100%;
  }
}

.envios-nacionales-section2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-image: url("../assets/Servicios Quiken /SERVICIOS/Servicios Quiken imagenes/Quiken_Envios_Nacionales.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  @include media("<large-phone") {
    width: 100%;
    background-position: right;
  }
}

.heading-envios-nacionales {
  color: $quikenRed;
  font-family: $quikenFont;
  font-size: 32px;
  font-weight: 800;
  padding: 50px 20px 30px 40px;
  box-sizing: border-box;
  @include media("<large-phone") {
    width: 100%;
  }
  @include media("<phone") {
    width: 100%;
    word-wrap: break-word;
    font-size: 24px;
  }
}

.paragraph-envios-nacionales {
  color: $quikenDarkBlue;
  font-family: $quikenFont;
  font-weight: 500;
  padding: 20px 20px 20px 40px;
}

.btn-register-red {
  font-family: $quikenFont;
  color: $quikenWhite;
  background-color: $quikenRed;
  border: none;
  padding: 7px 40px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 20px;
  align-self: center;
  justify-self: flex-end;
}

.servicio-envios-internacionales {
  width: 80%;
  max-width: 1020px;
  height: 250px;
  background: $quikenDarkBlue;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<large-phone") {
    flex-direction: column;
    height: 450px;
  }
}

.envios-internacioanles-section1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background: none;
  @include media("<large-phone") {
    width: 100%;
  }
}

.envios-internacioanles-section2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-image: url("../assets/Servicios Quiken /SERVICIOS/Servicios Quiken imagenes/Quiken_Envios_Internacionales.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 25px;
  @include media("<large-phone") {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
}

.heading-envios-internacionales {
  color: $quikenWhite;
  font-family: $quikenFont;
  font-size: 32px;
  font-weight: 800;
  padding: 40px 20px 10px 40px;
  box-sizing: border-box;
  @include media("<large-phone") {
    font-size: 28px;
  }
  @include media("<phone") {
    width: 100%;
    word-wrap: break-word;
    font-size: 24px;
  }
}

.paragraph-envios-internacionales {
  color: $quikenWhite;
  font-family: $quikenFont;
  font-weight: 500;
  padding: 10px 20px 20px 40px;
}

.servicio-fulfillment {
  width: 80%;
  max-width: 1020px;
  height: 450px;
  background: $quikenLightBlue;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<large-phone") {
    flex-direction: column;
    height: 650px;
  }
}

.fulfillment-section2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-image: url("../assets/Servicios Quiken /SERVICIOS/Servicios Quiken imagenes/Quiken_Servicios.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  width: 100%;
}

.fulfillment-section1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background: none;
  @include media("<large-phone") {
    width: 100%;
  }
}

.heading-fulfillment {
  color: $quikenWhite;
  font-family: $quikenFont;
  font-size: 32px;
  font-weight: 800;
  padding: 50px 20px 10px 40px;
  @include media("<phone") {
    width: 100%;
    word-wrap: break-word;
    font-size: 24px;
  }
}

.subheading-fulfillment {
  color: $quikenWhite;
  font-family: $quikenFont;
  font-weight: 600;
  padding: 0px 20px 20px 40px;
}

.paragraph-fulfillment {
  color: white;
  font-family: $quikenFont;
  font-weight: 500;
  padding: 20px 20px 20px 40px;
}

.suministros-embalaja-main-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $quikenKLightGrey;
  margin-top: 70px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<large-phone") {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.suminstros-section1 {
  display: flex;
  flex-direction: column;
  padding: 40px 10px 40px 120px;
  width: 40%;
  @include media("<large-phone") {
    width: 90%;
    padding: 10px;
  }
}

.suminstros-section2 {
  background: url("../assets/Servicios Quiken /SERVICIOS/Servicios Quiken imagenes/Quiken_Suministros.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
  width: 50%;
}

// .div-wrapper-80 {
//     width: 80%;
//     display: flex;
//     flex-direction: row;
//     @include media('<large-phone') {
//      width: 100%;
//     }
// }

.suministros-heading {
  font-family: $quikenFont;
  font-weight: 900;
  font-size: 30px;
  color: $quikenRed;
  display: block;
  @include media("<large-phone") {
    width: 100%;
  }
  @include media("<380px") {
    max-width: 100%;
    word-wrap: break-word;
  }
}

.subheading-embalaja {
  font-family: $quikenFont;
  color: $quikenRed;
  font-weight: 800;
  font-size: 18px;
  padding-top: 40px;
}

.paragraph-embalaje {
  font-family: $quikenFont;
  color: $quikenDarkBlue;
  font-weight: 500;
  font-size: 14px;
}

.todo-para-empaquar-main-div {
  font-family: $quikenFont;
  background-color: $quikenDarkBlue;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  @include media("<large-phone") {
    height: 200px;
    flex-direction: column;
  }
}

.todo-para-empacar-section1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  @include media("<large-phone") {
    width: 100%;
  }
}

.todo-para-empacar-section2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  @include media("<large-phone") {
    width: 100%;
  }
}

.div-wrapper-80 {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  @include media("<1010px") {
    flex-direction: column-reverse;
    width: 100%;
  }
  @include media("<tablet") {
    flex-direction: column-reverse;
    width: 100%;
  }
  @include media("<large-phone") {
    flex-direction: column-reverse;
    width: 100%;
  }
}

.heading-empacar-productos {
  font-family: $quikenFont;
  color: $quikenWhite;
  font-weight: 800;
  font-size: 28px;
  @include media("<large-phone") {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.text-mas-info-suministros {
  color: $quikenWhite;
  padding-bottom: 5px;
  font-family: $quikenWhite;
  font-family: $quikenFont;
  font-weight: 500;
}

.que-ofrecemos-main-div {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  background-color: $quikenLightBlue;
  justify-content: center;
  width: 80%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  @include media("<large-phone") {
  }
}

.heading-que-ofrecemos {
  font-family: $quikenFont;
  font-weight: 600;
  color: $quikenWhite;
  font-size: 28px;
  padding-bottom: 25px;
  padding-top: 40px;
}

.que-ofrecemos-section1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  @include media("<large-phone") {
    width: 100%;
  }
}

.paragraph-que-ofrecemos {
  font-family: $quikenFont;
  font-weight: 500;
  color: $quikenWhite;
  font-size: 15px;
  padding-bottom: 14px;
}

.que-ofrecemos-section2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  @include media("<large-phone") {
    width: 90%;
  }
}

.imagen-repartidor {
}

.que-necesitas-servicio-heading {
  font-family: $quikenFont;
  color: $quikenRed;
  font-weight: 500;
  font-size: 14px;
}
