@import "../styles/GeneralStyles.scss";

.ya-tienes-cuenta {
  font-family: $quikenFont;
  color: $manuableLightPurple;
  font-weight: 800;
  font-size: 14px;
  margin-top: 3px;
}

.da-click-aqui {
  text-decoration: none;
  color: $manuableLightPurple;
  font-family: $quikenFont;
  font-weight: 800;
  font-size: 14px;
  margin-top: 3px;
  &:hover {
    color: $manuableRed;
    text-decoration: underline;
  }
}
