@import "../../styles/GeneralStyles.scss";
$assetPath: "/assets/Inicio";

.heading-blue {
  font-size: 23px;
  font-weight: 800;
  color: $quikenDarkBlue;
  font-family: $quikenFont;
  text-align: center;
  margin-top: 30px;
  @include media("<large-phone") {
    padding: 20px 20px 0px 20px;
  }
}

.main-wrapper-negocios {
  width: 100%;
  background-color: $quikenKLightGrey;
  background-image: url(#{$assetPath}/Quiken_Ecommerce.png);
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include media("<large-phone") {
    display: none;
  }
}

.paragraph-section {
  color: $quikenWhite;
  font-family: $quikenFont;
  font-size: 22px;
  font-weight: 400;
  width: 400px;
  padding-left: 80px;
}

.paragraph-section span {
  font-weight: 900;
}

.row-wrapper-icons {
  margin-top: 50px;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @include media("<tablet") {
    flex-direction: column;
  }
  @include media("<large-phone") {
    // background-color: hotpink;
    padding: 0px;
  }
}

.image-integraciones {
  height: 50px;
  @include media("<large-phone") {
    height: 60px;
    padding: 10px;
  }
  @include media("<phone") {
    max-width: 240px;
    height: 60px;
    padding: 10px;
  }
}
