@import "../../styles/GeneralStyles.scss";
$assetPath: "/assets/Inicio";

.heading-blue {
  font-size: 23px;
  font-weight: 800;
  color: $quikenDarkBlue;
  font-family: $quikenFont;
  text-align: center;
  margin-top: 30px;
  @include media("<large-phone") {
    padding: 20px 20px 0px 20px;
  }
}

.main-wrapper-negocios {
  width: 100%;
  background-color: $quikenKLightGrey;
  display: block;
  position: relative;
  height: 600px;
  overflow: hidden;
  @include media("<large-phone") {
    display: none;
  }
}

.negocios-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  display: block;
}

.paragraph-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: $quikenWhite;
  font-family: $quikenFont;
  font-size: 22px;
  font-weight: 400;
  width: 400px;
  padding-left: 80px;
}

.paragraph-section span {
  font-weight: 900;
}

.row-wrapper-icons {
  margin-top: 50px;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  @include media("<tablet") {
    flex-direction: column;
  }
  @include media("<large-phone") {
    // background-color: hotpink;
    padding: 0px;
  }
}

.image-integraciones {
  height: 60px;
  width: auto;
  object-fit: contain;
  margin: 0 20px;
  @include media("<tablet") {
    margin: 10px 0;
  }

}
