@import '../../styles/GeneralStyles.scss';

.main-wrapper-map {
    display: flex;
    flex-direction: row;
    padding: 50px 50px 50px 50px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    @include media('<tablet') {
        width: 100%;
        padding: 0px;
        flex-direction: column;
        position: static;
    }

    @include media('<large-phone') {
        width: 100%;
        padding: 0px;
        flex-direction: column;
        position: static;
    }

    @include media('<phone') {
        // width: 150px;
        padding: 0px;
        max-width: 100%;
        overflow:hidden;
        position: static;
    }
}

.states-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    @include media('<tablet') {
        flex-direction: row;
        justify-content: space-between;
        width: auto;     
    }
    @include media('<large-phone') {
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }
    @include media('<phone') {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: left;
        // padding-left: 30px;
        overflow: hidden;

    }
}

.img-wrapper {
    width: 70%;
    
    
    @include media('<large-phone') {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    @include media('<phone') {
     
    }
}

.heading-map-section {
    color: $quikenRed;
    font-size: 40px;
    font-family: $quikenFont;
    font-weight: 900;
    // width: 300%;
    @include media('<tablet') {
        
    }

    @include media('<large-phone') {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

    @include media('<phone') {
     max-width: 280px;
    }
}

.state-name {
    color: $quikenDarkBlue;
    font-size: 15px;
    font-family: $quikenFont;
    font-weight: 600;
    padding: 5px;
    @include media('<large-phone') {
        font-size: 10px;
    }
    @include media('<phone') {
        font-size: 20px;
    }
}

.state-name-dallas {
    color: $quikenRed;
    font-size: 15px;
    font-family: $quikenFont;
    font-weight: 600;
    padding: 5px;
    @include media('<large-phone') {
        font-size: 12px;
    }
    @include media('<phone') {
        font-size: 20px;
    }
}

.state-column {
    @include media('<large-phone') {
        
    }
    @include media('<phone') {
            
    } 
}

.map-image {
    width: 600px;
    @include media('<tablet') {
        width: 95%;
        position: static;
        top: 0px;
        left: 0px;
        align-self: center;     
    }
    @include media('<large-phone') {
        width: 95%;
        position: static;
        top: 0px;
        left: 0px;
        align-self: center;     
    }
    @include media('<phone') {
        position: static;
    }
}

.state-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include media('<phone') {
        padding-left: 40px;
    }
}

.paloma-quiken {
    height: 18px;
}

.text-wrapper {
    
    @include media('<large-phone') {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }

    @include media('<phone') {
             
    }

}