@import '../../styles/GeneralStyles.scss';

.main-wrapper-guias {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    position: relative;
    @include media('<large-phone') {
        flex-direction: column-reverse;  
        height: 100%;   
    }
}

.delivery-guy-img {
    position: absolute;
    height:  350px;
    top: -16.5%;
    left: 5%;
    @include media('<large-phone') {
        position: static;
        height: 80%;
             
    }
}

.red-container {
    background-color: $quikenRed;
    width: 50%;
    display: flex;
    flex-direction: column;
    @include media('<large-phone') {
     width: 100%;
             
    }
}

.blue-container {
    background-color: $quikenLightBlue;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media('<large-phone') {
        width: 100%;
                
       }
}

.numero-guias {
    color: white;
    font-family: $quikenFont;
    font-size: 45px;
    font-weight: 900;
    @include media('<large-phone') {
        font-size: 35px;
        padding: 10px 0px 10px 0px;
                
       }
}

.heading-guias {
    color: white;
    font-family: $quikenFont;
    font-size: 30px;
    padding: 20px 40px;
    font-weight: 500;
    text-align: center;
    @include media('<large-phone') {
        font-size: 35px;
        padding: 10px 0px 10px 0px;
                
       }
}

.link-tracking {
    background-color: purple;
}