@import '../../styles/GeneralStyles.scss';

.main-wrapper-section {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    @include media('<tablet') {
        // flex-direction: column;
        // align-items: center;     
    }
}

.main-wrapper-row {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.svgs-wrapper {
    display: flex;
    flex-direction: row;
    width: 55%;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

.heading-red {
    font-family: $quikenFont;
    font-weight: 900;
    font-size: 40px;
    color: $quikenRed;
    display: block;
    @include media('<tablet') {
        flex-direction: column;
        align-items: center;
        font-size: 24px;     
    }
}

.btn-enviar-ahora {
  font-family: $quikenFont;
  background-color: $quikenRed;
  color: $quikenWhite;
  font-size: $quikenMediumFontSize;
  font-family: $quikenFont;
  font-weight: $quikenFontWeightMedium;
  border-radius: 15px;
  border: none;
  padding: 8px 20px 8px 20px;
  margin: 15px;
}

.svg-image {
    width: 135px;
    z-index: 1;
    @include media('<tablet') {
        width: 75px;     
    }
}

.icon-column {
    position: relative;
    width: 170px;
}

.heading-vehicle {
    color: $quikenWhite;
    font-family: $quikenFont;
    font-weight: 800;
    font-size: 12px;
    top: 120px;
    left: 32px;
    z-index: 3;
    position: absolute;
    text-align: center;
}

.heading-vehicle-camioneta {
    color: $quikenWhite;
    font-family: $quikenFont;
    font-weight: 800;
    font-size: 12px;
    top: 120px;
    left: 35px;
    z-index: 3;
    position: absolute;
    text-align: center;
}

.heading-vehicle-camion {
    color: $quikenWhite;
    font-family: $quikenFont;
    font-weight: 800;
    font-size: 12px;
    top: 120px;
    left: 25px;
    z-index: 3;
    position: absolute;
    text-align: center;
}
